<?xml version="1.0" encoding="utf-8" ?>
<ProxyConfig allowedReferers="*"
                logFile="proxy_log.log"
                logLevel="FINE"
                mustMatch="false">
  <serverUrls>
    <serverUrl
        url="https://sentinel.arcgis.com"
        username="6d43714343324692ae386ee61adc6168"
        password="xUfNUgMqKOj6ToJ2"
        tokenServiceUri="test"
        hostRedirect="https://test.com"
        matchAll="false"/>
  </serverUrls>
</ProxyConfig>

<!-- See https://github.com/Esri/resource-proxy for more information -->
